# GitHub Actions workflow for testing and continuous integration.
#
# This file performs testing using tox and tox.ini to define and configure the test environments.

name: CI Tests

on:
  schedule:
    # run every Wednesday at 6am UTC
    - cron: '0 6 * * 3'
  push:
    branches:
      - main
    tags:
    - '*'
  pull_request:
     branches: # only build on PRs against 'main' if you need to further limit when CI is run.
      - main

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # Github Actions supports ubuntu, windows, and macos virtual environments:
  # https://help.github.com/en/actions/reference/virtual-environments-for-github-hosted-runners
  ci_tests:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@28e947497bed4d6ec3fa1d66d198e95a1d17bc63  # v2.2.1
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    with:
      submodules: false
      coverage: ''
      envs: |
        - name: Code style checks
          linux: codestyle

        - name: Link checks
          linux: linkcheck

        - name: OS X - Python 3.13 with minimal dependencies
          macos: py313-test
          runs-on: macos-latest

        - name: Windows - Python 3.11 with all optional dependencies
          windows: py311-test-alldeps
          toxargs: -v

        - name: Python 3.12 with remote data, all dependencies, and coverage
          linux: py312-test-alldeps-cov
          toxargs: -v
          posargs: --remote-data=any
          coverage: codecov

        - name: Python 3.11 with oldest version of key dependencies
          linux: py311-test-oldestdeps

  allowed_failures:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@28e947497bed4d6ec3fa1d66d198e95a1d17bc63  # v2.2.1
    with:
      submodules: false
      coverage: ''
      envs: |
        - name: (Allowed Failure) Python 3.13 with latest dev versions of key dependencies
          linux: py313-test-devdeps
          posargs: --verbose
