# GitHub Actions workflow for testing and continuous integration.
#
# This file performs testing using tox and tox.ini to define and configure the test environments.

name: CI Tests

on:
  push:
    branches:
      - main
  pull_request:
     branches: # only build on PRs against 'main' if you need to further limit when CI is run.
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # Github Actions supports ubuntu, windows, and macos virtual environments:
  # https://help.github.com/en/actions/reference/virtual-environments-for-github-hosted-runners
  ci_tests:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - name: Code style checks
            os: ubuntu-latest
            python: 3.x
            toxenv: codestyle

          - name: Link checks
            os: ubuntu-latest
            python: 3.x
            toxenv: linkcheck

          - name: OS X - Python 3.13 with minimal dependencies
            os: macos-latest
            python: '3.13'
            toxenv: py313-test

          - name: Windows - Python 3.11 with all optional dependencies
            os: windows-latest
            python: '3.11'
            toxenv: py311-test-alldeps
            toxargs: -v

          - name: Python 3.12 with remote data, all dependencies, and coverage
            os: ubuntu-latest
            python: '3.12'
            toxenv: py312-test-alldeps-cov
            toxargs: -v
            posargs: --remote-data=any

          - name: Python 3.13 with latest dev versions of key dependencies
            os: ubuntu-latest
            python: '3.13'
            toxenv: py313-test-devdeps

          - name: Python 3.11 with oldest version of key dependencies
            os: ubuntu-latest
            python: '3.11'
            toxenv: py311-test-oldestdeps

    steps:
    - name: Checkout code
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
      with:
        fetch-depth: 0
    - name: Set up python ${{ matrix.python }} on ${{ matrix.os }}
      uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b  # v5.3.0
      with:
        python-version: ${{ matrix.python }}
    - name: Install base dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install tox
    - name: Install graphviz dependency
      if: ${{ contains(matrix.toxenv, 'build_docs') }}
      run: sudo apt-get -y install graphviz
    - name: Test with tox
      run: |
        python -m tox -e ${{ matrix.toxenv }} ${{ matrix.toxargs }} -- ${{ matrix.posargs }}
