# GitHub Actions workflow for testing and continuous integration.
#
# This file performs testing using tox and tox.ini to define and configure the test environments.

name: CI Tests

on:
  push:
    branches:
      - main
  pull_request:
     branches: # only build on PRs against 'main' if you need to further limit when CI is run.
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # Github Actions supports ubuntu, windows, and macos virtual environments:
  # https://help.github.com/en/actions/reference/virtual-environments-for-github-hosted-runners
  ci_tests:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - name: Code style checks
            os: ubuntu-latest
            python: 3.x
            toxenv: codestyle

          - name: Python 3.7 with minimal dependencies
            os: ubuntu-latest
            python: 3.7
            toxenv: py37-test

          - name: OS X - Python 3.9 with minimal dependencies
            os: macos-latest
            python: 3.9
            toxenv: py39-test

          - name: Windows - Python 3.11 with all optional dependencies
            os: windows-latest
            python: 3.11
            toxenv: py11-test-alldeps

          - name: Python 3.11 with remote data, all dependencies, and coverage
            os: ubuntu-latest
            python: 3.11
            toxenv: py11-test-alldeps-cov
            toxposargs: --remote-data

          - name: Python 3.11 with latest dev versions of key dependencies
            os: ubuntu-latest
            python: 3.11
            toxenv: py11-test-devdeps

          - name: Test building of Sphinx docs
            os: ubuntu-latest
            python: 3.x
            toxenv: build_docs

    steps:
    - name: Checkout code
      uses: actions/checkout@v1
      with:
        fetch-depth: 0
    - name: Set up python ${{ matrix.python }} on ${{ matrix.os }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python }}
    - name: Install base dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install tox codecov
    - name: Install graphviz dependency
      if: ${{ contains(matrix.toxenv, 'build_docs') }}
      run: sudo apt-get -y install graphviz
    - name: Test with tox
      run: |
        tox -e ${{ matrix.toxenv }}
