name: Wheel building

on:
  push:
    branches:
      - main
    tags:
    - '*'
  pull_request:
     branches: # only build on PRs against 'main' if you need to further limit when CI is run.
      - main

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_and_publish:
    permissions:
      contents: none
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/publish_pure_python.yml@d68193b68216da64eafaa618f53c59f5d271c56e  # v1.14.0
    if: github.repository == 'astropy/astroplan'
    with:
      # We upload to PyPI for all tags starting with v but not ones ending in .dev
      upload_to_pypi: ${{ startsWith(github.ref, 'refs/tags/v') && !endsWith(github.ref, '.dev') && (github.event_name == 'push') }}
      test_extras: test
      test_command: pytest -p no:warnings --astropy-header --pyargs astroplan
    secrets:
      pypi_token: ${{ secrets.PYPI_TOKEN }}
